@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.link-hover li a:hover {
    @apply border-b-2 border-b-white;
    padding-bottom: 8px;
    transition: all 150ms ease-in-out;
}